<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                THRIFTY
            </a>
        </div>
        <!--<ul class="nav navbar-nav navbar-right" >-->
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/login" class="navbar-link">
                  LOG IN / SIGN UP
                </a>
            </p>
        <!--</ul>-->
    </div>
</nav>

<div id="container">
    <img id="image" src="../images/projecthome.jpg"/>
    <h2 id="tagline">
        An online marketplace for used clothing
    </h2>

    <h5 id="help">Search below, or sign in to sell your items</h5>
    <br>

    <div class="input-group input-group-md">
        <input type="search" placeholder="search" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Explore</button>
            </span>
    </div>
</div>

