<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                THRIFTY
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right" >
            <p class="navbar-text pull-right">
                <a href="#/login" class="navbar-link">
                  LOG IN / SIGN UP
                </a>
            </p>
            <!--<a ng-click="model.enter()"></span>LOG IN / SIGN UP</a>-->
            <!--<li role="button"><a ng-click="model.buy()"></span>SIGN UP</a></li>-->
            <!--<li role="button"><a ng-click="model.buy()"></span>BUY</a></li>-->
            <!--<li role="button"><a ng-click="model.sell()"></span>SELL</a></li>-->
        </ul>
    </div>
</nav>

<div id="container">
    <img id="image" src="../images/projecthome.jpg"/>
    <h2 id="tagline">
        An online marketplace for used clothing
    </h2>

    <h5 id="help">Search below, or sign in to sell your items</h5>
    <br>

    <div class="input-group input-group-md">
        <input type="search" placeholder="Explore" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Search</button>
            </span>
    </div>
</div>