input {
    margin-bottom: 5px;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.btn {
    margin-bottom: 5px;
}

.btn:focus,.btn:active {
    outline: none !important;
}

/*.navbar-inverse .navbar-brand {*/
    /*font-color: white;*/
/*}*/

.navbar-inverse {
    background-color: black;
    opacity: .8;
    max-height: 60px;
}

/*.navbar-inverse .navbar-link {*/
    /*color: #ffffff;*/
    /*text-decoration: none;*/
/*}*/

/*.navbar-nav>li>a {*/
    /*color: white;*/
/*}*/

.navbar-inverse .navbar-brand:hover, .navbar-brand:focus, .navbar-link:hover, .navbar-link:focus, .mybutton:focus {
    color: white !important;
    text-decoration: none;
    /*color: rgba(31, 230, 170, 0.8) !important;*/
}

.mybutton, button {
    text-align: center;
    color: white;
    border: none;
    background: none;
    padding-left: 2px;
    padding-right: 2px;
    transition: border-color .2s ease-in-out;
    border-bottom: 2px solid rgba(0,0,0,0);
    padding-bottom: 3px;
}

.mybutton:hover, button:hover {
    color: white;
    border-color: white;
    text-decoration: none;
    /*transition: border-color .15s ease-out;*/
}

#google {
    background-color: salmon;
    border-color: salmon;
}

h2, h4, h5{
    text-align: center;
}

#help {
    position: relative;
    vertical-align: middle;
    color: white;
}

#image {
    position: absolute;
    width: 100%;
    opacity: .85;
    left: 0;
    top: 0;
}

#tagline {
    margin-top: 200px;
    position: relative;
    vertical-align: middle;
    color: white;
    font-size: 27px;
    font-weight: bold;
}

p.navbar-text.pull-right {
    margin-right: 6px;
}

p.navbar-text.pull-left {
    margin-left: 6px;
}

#username {
    background-color: rgba(0, 0, 0, 0.03);
    border-color: rgba(0, 0, 0, 0.05);
    /*cursor:default;*/
}

.container {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 700px;
}


/*.breadcrumb>li {  displays breadcrumbs horizonatally on the navbar     */
/*display: inline-block;*/
/*}*/

/*#bc {*/
    /*background: none;*/
    /*padding-top: 19px;*/
    /*margin-left: -6px;*/
    /*font-size: 12pt;*/
    /*text-decoration: none !important;*/
/*}*/

/*#bread {*/
/*}*/

/*.breadcrumb>.active {*/
    /*color: #f6f6f6;*/
/*}*/
/*.breadcrumb>li:hover {*/
    /*color: white !important;*/
/*}*/
