<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                THRIFTY
            </a>
        </div>
        <div ng-if="model.user">
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/profile" class="navbar-link">
                    {{model.user.username}}
                </a>
            </p>
        </div>
        <div ng-if="!model.user">
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/login" class="navbar-link">
                  Log in
                </a>
                &nbsp·&nbsp
                <a class="mybutton" href="#/register" class="navbar-link">
                    Sign up
                </a>
            </p>
        </div>
    </div>
</nav>

<div id="container">
    <img id="image" src="../../images/projecthome.jpg"/>
    <h2 id="tagline">
        An online marketplace for used clothing
    </h2>

    <h5 id="help">Search below, or sign in to sell your items</h5>
    <br>

    <div class="input-group input-group-md">
        <input ng-model="model.searchParam" type="search" placeholder="search" class="form-control">
            <span class="input-group-btn">
                <button ng-click="model.search()" class="btn btn-info" type="button">Explore</button>
            </span>

    </div>
    <!--<div class="btn-group" role="group" aria-label="">-->
        <!--<button type="button" class="btn btn-default">Tops</button>-->
        <!--<button type="button" class="btn btn-default">Bottoms</button>-->
        <!--<button type="button" class="btn btn-default">Footwear</button>-->
        <!--<button type="button" class="btn btn-default">Outerwear</button>-->
    <!--</div>-->
</div>

<div ng-show="model.items" class="image-grid">
    <div ng-repeat="item in model.items">
        <div class="result">
            <div class="result-image"
                 style="width: 180px; height: 180px;
                 background-image: url('{{item.image}}');
                 background-size: auto 100%; background-color: rgba(0,0,0,0);
                 background-position: center; overflow: hidden">
            </div>
            <a class="result-text" href="#/item/{{item._id}}">
                {{item.name}}
                <div class="result-price">
                    ${{item.price}}
                </div>

            </a>
        </div>
    </div>
</div>