<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                THRIFTY
            </a>
        </div>
        <div ng-if="model.user">
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/profile" class="navbar-link">
                    {{model.user.username}}
                </a>
            </p>
        </div>
        <div ng-if="!model.user">
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/login" class="navbar-link">
                  Log in
                </a>
                &nbsp·&nbsp
                <a class="mybutton" href="#/register" class="navbar-link">
                    Sign up
                </a>
            </p>
        </div>
    </div>
</nav>

<div id="container">
    <img id="image" src="../../images/projecthome.jpg"/>
    <h2 id="tagline">
        An online marketplace for used clothing
    </h2>

    <h5 id="help">Search below, or sign in to sell your items</h5>
    <br>

    <div class="input-group input-group-md">
        <input type="search" placeholder="search" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-info" type="button">Explore</button>
            </span>
    </div>
</div>