<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                THRIFTY
            </a>
        </div>
        <div ng-switch="model.user">
            <div ng-switch-when="undefined">
                <p class="navbar-text pull-right">
                    <a class="mybutton" href="#/login" class="navbar-link">
                      Log in
                    </a>
                    &nbsp·&nbsp
                    <a class="mybutton" href="#/register" class="navbar-link">
                        Sign up
                    </a>
                </p>
            </div>
            <div ng-switch-default>
                <p class="navbar-text pull-right">
                    <a class="mybutton" href="#/profile" class="navbar-link">
                      {{model.user.username}}
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div id="container">
    <img id="image" src="../../images/projecthome.jpg"/>
    <h2 id="tagline">
        An online marketplace for used clothing
    </h2>

    <h5 id="help">Search below, or sign in to sell your items</h5>
    <br>

    <div class="input-group input-group-md">
        <input ng-model="model.searchParam" type="search" placeholder="search" class="form-control">
            <span class="input-group-btn">
                <button ng-click="model.search()" class="btn btn-info" type="button">Explore</button>
            </span>
    </div>
</div>
<div ng-show="model.items">
<ul class="list-group">
    <li ng-repeat="item in model.items" class="list-group-item">
        <a href="#/item/{{item._id}}">
            {{item.name}}
            <span class="glyphicon glyphicon-edit pull-right"></span>
        </a>
        <img ng-src="{{item.image}}"  width="100" height="100">
    </li>
</ul>
</div>