body {
    background-color: ghostwhite;
}

h2 {
    text-align: center;
}
h3,h4,p,img {
    color: black;
    text-align: left;
    margin-left: 30px;
}

ul {
    color: black;
    text-align: left;
    margin-left: 10px;
}