<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            &nbsp/&nbsp
            <a class="mybutton" href="#/profile" class="navbar-link">Profile</a>
            <a class="mybreadcrumb">&nbsp/&nbsp Cart</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<!--<div ng-show="model.cart" class="image-grid">-->
<!--<div ng-repeat="item in model.cart">-->
<!--<a class="glyphicon glyphicon-remove pull-right" ng-click="model.removeFromCart(item._id)"></a>-->
<!--<div class="result">-->
<!--<div class="result-image"-->
<!--style="width: 180px; height: 180px;-->
<!--background-image: url('{{item.image}}');-->
<!--background-size: auto 100%; background-color: rgba(0,0,0,0);-->
<!--background-position: center; overflow: hidden">-->
<!--</div>-->
<!--<a class="result-text" href="#/item/{{item._id}}">-->
<!--{{item.name}}-->
<!--<div class="result-price">-->
<!--${{item.price}}-->
<!--</div>-->

<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div ng-show="model.cart" class="item-list">
    <div ng-repeat="item in model.cart">
        <ul class="list-group">
            <li class="list-group-item">
                <a class="glyphicon glyphicon-remove pull-right" ng-click="model.removeFromCart(item._id)"></a>
                <a href="#/item/{{item._id}}/view">
                    <div class="flexbox-container">
                        <div class="result-image"
                             style="width: 95px; height: 95px; background-image: url('{{item.image}}');
                             margin-top: 4px; background-size: auto 100%; background-color: rgba(0,0,0,0);
                             background-position: center; overflow: hidden">
                        </div>
                        <div href="#/item/{{item._id}}">
                            <div class="item-list-name">
                                {{item.name}} &nbsp&nbsp·&nbsp&nbsp ${{item.price}}
                                <div class="item-list-description">
                                    {{item.description}}
                                </div>
                            </div>
                            <div class="result-price">
                                <!--${{item.price}}-->
                            </div>
                        </div>
                    </div>
                    <div class="flexbox-container">
                        <div class="item-list-date">
                            Uploaded: {{item.dateAdded | date}}
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<div id="container">
    <br>
    <h4 ng-show="!model.total">
        Your cart is empty
    </h4>
</div>

<div ng-show="model.total > 0">
    <p>Total: ${{model.total}}</p>

    <button ng-click="model.purchase()" class="btn btn-primary btn-block btn-sm">Checkout</button>
</div>