<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <!--<p class="navbar-text pull-right">-->
            <!--<a class="mybutton" href="#/item/new" class="navbar-link">-->
                <!--New-->
            <!--</a>-->
        <!--</p>-->
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            &nbsp/&nbsp
            <a class="mybutton" href="#/profile" class="navbar-link">Profile</a>
            <a class="mybreadcrumb">&nbsp/&nbsp Cart</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>


<div ng-show="model.cart" class="image-grid">
    <div ng-repeat="item in model.cart">
        <a class="glyphicon glyphicon-remove pull-right" ng-click="model.removeFromCart(item._id)"></a>
        <div class="result">
            <div class="result-image"
                 style="width: 180px; height: 180px;
                 background-image: url('{{item.image}}');
                 background-size: auto 100%; background-color: rgba(0,0,0,0);
                 background-position: center; overflow: hidden">
            </div>
            <a class="result-text" href="#/item/{{item._id}}">
                {{item.name}}
                <div class="result-price">
                    ${{item.price}}
                </div>

            </a>
        </div>
    </div>
</div>

<div>
    <p>Total is {{model.total}}</p>
</div>

<div id="container">
    <br>
    <h4 ng-show="!model.total">
        Your cart is empty
    </h4>
</div>

<div>
    <button ng-click="model.purchase()" class="btn btn-primary btn-block btn-sm">Complete Purchase</button>
</div>