<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="glyphicon glyphicon-plus">
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
                My Listings
            </a>
        </div>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<ul class="list-group">
    <li ng-repeat="item in model.items" class="list-group-item">
        <a href="#/item/{{item._id}}">
            {{item.name}}
        </a>
    </li>
</ul>