<!--<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">-->
    <!--<div class="container-fluid">-->
        <!--<p class="navbar-text pull-right">-->
            <!--<a class="mybutton" href="#/item/new">New-->
            <!--</a>-->
        <!--</p>-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#/home">-->
                <!--My Listings-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->

<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="mybutton" href="#/item/new" class="navbar-link">
                New
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            &nbsp/&nbsp
            <a class="mybutton" href="#/profile" class="navbar-link">Profile</a>
            <a class="mybreadcrumb">&nbsp/&nbsp My Listings</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<ul class="list-group">
    <li ng-repeat="item in model.items" class="list-group-item">
        <a href="#/item/{{item._id}}">
            {{item.name}}
            <span class="glyphicon glyphicon-edit pull-right"></span>
        </a>
        <img ng-src="{{item.image}}"  width="100" height="100">
    </li>
</ul>

<div id="container">
    <br>
    <h4 ng-show="model.emptyItems">
        You are not selling any items,
        click New to add a new listing!
    </h4>
</div>