<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            <a class="mybreadcrumb">&nbsp/&nbsp {{model.item.name}}</a>
        </p>
        <div ng-if="model.user">
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/profile" class="navbar-link">
                    {{model.user.username}}
                </a>
                &nbsp·&nbsp
                <a class="mybutton" href="#/profile/cart" class="navbar-link">
                    Cart
                </a>
            </p>
        </div>
        <div ng-if="!model.user">
            <p class="navbar-text pull-right">
                <a class="mybutton" href="#/login" class="navbar-link">
                    Log in
                </a>
                &nbsp·&nbsp
                <a class="mybutton" href="#/register" class="navbar-link">
                    Sign up
                </a>
            </p>
        </div>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<br>
<!--<div style="width: 200px; height: 200px;-->
     <!--background-image: url('{{model.item.image}}');-->
     <!--background-size: auto 100%; background-color: rgba(0,0,0,0);-->
     <!--background-position: center; overflow: hidden">-->
<!--</div>-->

<img src="{{model.item.image}}" class="itemview-image"/>
<p class="itemview-name"><b>{{model.item.name}}</b></p>
<p class="itemview-seller">Seller: {{model.item.seller.username}}</p>
<!--<p class="itemview-seller">Seller Name: {{model.item.seller.username}}</p>-->
<p class="itemview-description">{{model.item.description}}</p>


<!--Item not added to cart-->
<div ng-show="model.user && model.user.cart.indexOf(model.item._id) < 0">
    <div class="itemview-price-cart">
        <p class="itemview-price">${{model.item.price}}</p>
        <div ng-show="!model.item.purchased" ng-click="model.addToCart()" class="btn btn-info btn-md">
            +&nbsp
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
    </div>
</div>

<!--dont think remove from store is working-->


<!--Item added to cart-->
<div ng-show="model.user && model.user.cart.indexOf(model.item._id) >= 0 ">
    <div class="itemview-price-cart">
        <div ng-show="!model.item.purchased" class="btn btn-info btn-md">
            &#10004&nbsp
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
    </div>
</div>

<!--Not signed in-->
<div ng-show="!model.user">
    <div class="itemview-price-cart">
        <p class="itemview-price" style="font-size: 15pt; font-style: italic;"><b>Sign in to purchase</b></p>
        <div ng-disabled="!model.user" class="btn btn-info btn-md">
            +&nbsp
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
    </div>
</div>


<!--<img src="{{model.item.url}}"/>-->


<!--</form>-->