<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <button class="mybutton" ng-click="model.createItem(model.item)" type="submit" form="myForm" class="navbar-link">
                Add
            </button>
        </p>
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            &nbsp/&nbsp
            <a class="mybutton" href="#/profile" class="navbar-link">Profile</a>
            &nbsp/&nbsp
            <a class="mybutton" href="#/profile/listings" class="navbar-link">Listings</a>
            <a class="mybreadcrumb">&nbsp/&nbsp New</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<form id="myForm" name="myForm" novalidate>
    <label for="item-name">Item Name</label>
    <div class="form-group">
        <input ng-model="model.item.name"
               type="text"
               class="form-control input-sm"
               id="item-name"
               placeholder="Shirt">
    </div>

    <label for="item-description">Item Description</label>
    <div class="form-group">
        <textarea ng-model="model.item.description" rows="3"
                  id="item-description"
                  class="form-control input-sm"
                  placeholder="Description"></textarea>
    </div>

    <label for="item-price">Item Price</label>
    <div class="input-group">
        <span class="input-group-addon input-sm">$</span>
        <input ng-model="model.item.price"
               id="item-price"
               type="number"
               min="0.01"
               max="99999"
               class="form-control input-sm"
               placeholder="Price">
        <span class="input-group-addon input-sm">.00</span>
    </div>

    <label for="item-image">Item Image URL</label>
    <div class="form-group">
        <input ng-model="model.item.image"
               id="item-image"
               type="text"
               class="form-control stretch input-sm"
               placeholder="Image URL" disabled>
    </div>
</form>



<div class="form-group">
    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control input-sm"/>
        <button type="submit"   class="btn btn-primary btn-block btn-sm">Upload Image</button>
        <input  name="seller" value="{{model.item.seller}}"   style="display: none"/>
        <input  name="name" value="{{model.item.name}}"   style="display: none"/>
        <input  name="description" value="{{model.item.description}}"   style="display: none"/>
        <input  name="price" value="{{model.item.price}}"   style="display: none"/>
    </form>
</div>