<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.createItem(model.item)" class="glyphicon glyphicon-ok">
            </a>
        </p>

        <div class="navbar-header">
            <a class="navbar-brand" href="#/home">
            New Item
            </a>
        </div>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<form id="myForm" name="myForm" novalidate>
    <div class="form-group">
        <label for="item-name">Item Name</label>
        <input ng-model="model.item.name"
               type="text"
               class="form-control"
               id="item-name"
               placeholder="Shirt" required>
    </div>

    <div class="form-group">
        <label for="item-description">Item Description</label>
            <textarea ng-model="model.item.description" rows="4"
                      id="item-description"
                      class="form-control"
                      placeholder="Description"></textarea>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="item-price">Item Price</label>-->
            <!--<input ng-model="model.item.price"-->
                   <!--id="item-price"-->
                   <!--type="number"-->
                   <!--min="0.01"-->
                   <!--max="99999"-->
                   <!--class="form-control"-->
                   <!--placeholder="Price">-->
    <!--</div>-->

    <label for="item-price">Item Price</label>
    <div class="input-group">
        <span class="input-group-addon">$</span>
            <input ng-model="model.item.price"
                   id="item-price"
                   type="number"
                   min="0.01"
                   max="99999"
                   class="form-control"
                   placeholder="Price">
                   <!--aria-label="Amount (to the nearest dollar)">-->
        <span class="input-group-addon">.00</span>
    </div>
    <br>

    <div class="form-group">
        <form action="/api/upload" method="post" enctype="multipart/form-data">
            <!--<input  name="myFile"   type="file" class="form-control"/>-->
            <!--<input  name="width"    value="{{model.widget.width}}" style="display: none"/>-->
            <!--<input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>-->
            <!--<input  name="pageId"   value="{{model.pageId}}"    style="display: none"/>-->
            <!--<input  name="userId"   value="{{model.userId}}"    style="display: none"/>-->
            <!--<input  name="websiteId"   value="{{model.websiteId}}"    style="display: none"/>-->
            <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
        </form>
    </div>

    <!--<div class="form-group">-->
        <!--<label for="item-image">Item Image</label>-->
        <!--<input ng-model="model.item.image"-->
               <!--id="item-image"-->
               <!--type="text"-->
               <!--class="form-control"-->
               <!--placeholder="Image">-->
    <!--</div>-->


</form>