<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.updateItem(model.item)" class="mybutton">
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            <a class="mybreadcrumb">&nbsp/&nbsp {{model.item.name}}</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<br>
<div style="width: 200px; height: 200px;
     background-image: url('{{model.item.image}}');
     background-size: auto 100%; background-color: rgba(0,0,0,0);
     background-position: center; overflow: hidden">
</div>


<p class="itemview-name">{{model.item.name}}</p>

<p class="itemview-seller">-{{model.item.seller}}</p>
<p class="itemview-seller">{{model.item.seller.username}}</p>

<p class="itemview-description">{{model.item.description}}</p>

<div ng-show="!model.user && model.user.cart.indexOf(model.item._id) < 0">
    +&nbsp<span ng-click="model.addToCart()" class="btn btn-success glyphicon glyphicon-shopping-cart">+</span>
</div>

<div class="itemview-price-cart">
    <p class="itemview-price">${{model.item.price}}</p>
    <div ng-click="model.addToCart()" class="btn btn-info btn-md">
        +&nbsp
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </div>
</div>




<img src="{{model.item.url}}"/>


<!--</form>-->