<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            <a class="mybreadcrumb">&nbsp/&nbsp Login</a>
        </p>
    </div>
</nav>



<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<h2>Login</h2>
<input ng-model="username"
       class="form-control input-sm"
       placeholder="username"
       type="text"/>
<input ng-model="password"
       class="form-control input-sm"
       placeholder="password"
       type="password">

<a ng-click="model.login(username, password)"
   class="btn btn-primary btn-block btn-sm">Login</a>
<a class="btn btn-primary btn-block btn-sm"
   href="#/register">Register</a>




<!--<a href="/auth/google" id="google" class="btn btn-primary btn-block btn-sm">-->
    <!--<span class="fa fa-google-plus"></span>-->
    <!--Google</a>-->