<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            <a class="mybreadcrumb">&nbsp/&nbsp {{model.seller.username}}</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>
<div ng-show="model.success" class="alert alert-success">
    {{model.success}}
</div>

<p>
    <div>
        <label>Username: </label>  {{model.seller.username}}
    </div>
    <div ng-show="model.seller.firstName || model.seller.lastName">
        <label>Name: </label>  {{model.seller.firstName}} {{model.seller.lastName}}
    </div>
    <div ng-show="model.seller.email">
        <label>Contact: </label>  {{model.seller.email}}
    </div>
    <div>
        <label>Joined: </label>  {{model.seller.dateCreated | date}}
    </div>

</p>