<nav class="navbar navbar-inverse navbar-fixed-top mike-navbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="mybutton" href="#/home" class="navbar-link">Home</a>
            <a class="mybreadcrumb">&nbsp/&nbsp Register</a>
        </p>
    </div>
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<h2>Register</h2>
<input ng-model="model.user.username"
       class="form-control input-sm"
       placeholder="username"
       type="text"/>
<div class="flexbox-container">
    <div>
        <input ng-model="model.user.password"
               class="form-control input-sm"
               placeholder="password"
               type="password"/>
    </div>
    <div>
        <input ng-model="model.user.password2"
               class="form-control input-sm"
               placeholder="verify password"
               type="password"/>
    </div>
</div>

<a ng-click="model.register(model.user.username, model.user.password)"
   class="btn btn-primary btn-block btn-sm">Register</a>
<a class="btn btn-danger btn-block btn-sm"
   href="#/login">Cancel</a>